APP_ENV=dev
APP_ADDRESS=localhost:8000
APP_BACKEND_URL=http://localhost:8000
APP_FRONTEND_URL=http://localhost:3000
APP_LANGUAGE=en
APP_FALLBACK_LANGUAGE=en

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://postgres:@localhost:5432/tesseract?sslmode=disable
GOOSE_MIGRATION_DIR=./internal/adapters/migrations

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0

CACHE_TTL=60m

SECURITY_CHECK_HEADERS=true
SECURITY_CHECK_ORIGIN=true

COOKIE_SECRET_KEY=AT_LEAST_32_CHAR_RANDOM_STRING
COOKIE_MAX_AGE=2592000

GOOGLE_CLIENT_ID=CLIENT_ID_GET_IT_FROM_GOOGLE
GOOGLE_CLIENT_SECRET=CLIENT_SECRET_GET_IT_FROM_GOOGLE
GOOGLE_CALLBACK_URL=http://localhost:8000/auth/google/callback

AUTH_ALLOWED_PROVIDERS=google
AUTH_SUCCESS_URL=http://localhost:3000

PASETO_SECRET_KEY=AT_LEAST_32_CHAR_RANDOM_STRING
ACCESS_TOKEN_TTL=10m
REFRESH_TOKEN_TTL=720h

CURSOR_SECRET_KEY=AT_LEAST_32_CHAR_RANDOM_STRING
ALBUMS_PER_PAGE=60